.box1{
    width: 600px;
    height: 600px;
    background: rgb(156,156,156);
background: linear-gradient(162deg, rgba(156,156,156,0.3113620448179272) 0%, rgba(245,244,244,0.2413340336134454) 76%);
    border-radius: 50%;
    position: absolute;
    z-index: -50;
    left: -144px;
}